body {
    padding-top: 6em;
    padding-bottom: 6em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    background-color: forestgreen;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 1em;
}

.button {
    cursor:pointer;
}